DB_HOST=DB_HOST
DB_PORT=DB_PORT
POSTGRES_DB=POSTGRES_DB
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
DISCORD_BOT_NAME=DISCORD_BOT_NAME
DISCORD_BOT_TOKEN=DISCORD_BOT_TOKEN
GITHUB_TOKEN=GITHUB_TOKEN
NOTION_SECRET=NOTION_SECRET
BIRTHDAY_TABLE=BIRTHDAY_TABLE
BIRTHDAY_NOTION_DATABASE_ID=BIRTHDAY_NOTION_DATABASE_ID
BIRTHDAY_DISCORD_WEBHOOK=BIRTHDAY_DISCORD_WEBHOOK
NEXT_WEEK_BIRTHDAY_DISCORD_WEBHOOK=NEXT_WEEK_BIRTHDAY_DISCORD_WEBHOOK
OPENAI_SECRET=OPENAI_SECRET
PTO_TABLE=PTO_TABLE
PTO_NOTION_DATABASE_ID=PTO_NOTION_DATABASE_ID
PTO_OPENAI_ASSISTANT=PTO_OPENAI_ASSISTANT
PTO_DISCORD_WEBHOOK=PTO_DISCORD_WEBHOOK
NEXT_WEEK_PTO_OPENAI_ASSISTANT=NEXT_WEEK_PTO_OPENAI_ASSISTANT
NEXT_WEEK_PTO_DISCORD_WEBHOOK=NEXT_WEEK_PTO_DISCORD_WEBHOOK
WIP_TABLE=WIP_TABLE
WIP_COUNT_NOTION_DATABASE_ID=WIP_COUNT_NOTION_DATABASE_ID
WIP_LIMIT_NOTION_DATABASE_ID=WIP_LIMIT_NOTION_DATABASE_ID
WIP_LIMIT_DISCORD_WEBHOOK=WIP_LIMIT_DISCORD_WEBHOOK
SUPPORT_EMAIL_TABLE=SUPPORT_EMAIL_TABLE
SUPPORT_EMAIL_ACCOUNT=SUPPORT_EMAIL_ACCOUNT
SUPPORT_EMAIL_REFRESH_TOKEN=SUPPORT_EMAIL_REFRESH_TOKEN
SUPPORT_EMAIL_CLIENT_ID=SUPPORT_EMAIL_CLIENT_ID
SUPPORT_EMAIL_CLIENT_SECRET=SUPPORT_EMAIL_CLIENT_SECRET
SUPPORT_EMAIL_INBOX=SUPPORT_EMAIL_INBOX
SUPPORT_EMAIL_RECEPTOR=SUPPORT_EMAIL_RECEPTOR
SUPPORT_EMAIL_DISCORD_WEBHOOK=SUPPORT_EMAIL_DISCORD_WEBHOOK
REVIEW_IMAGES_TABLE=REVIEW_IMAGES_TABLE
REVIEW_IMAGE_OPENAI_ASSISTANT=REVIEW_IMAGE_OPENAI_ASSISTANT
REVIEW_TEXT_TABLE=REVIEW_TEXT_TABLE
REVIEW_TEXT_OPENAI_ASSISTANT=REVIEW_TEXT_OPENAI_ASSISTANT
TELEGRAM_BOT_TOKEN=TELEGRAM_BOT_TOKEN
DO_TABLE=DO_TABLE
DIGITAL_OCEAN_SECRET=DIGITAL_OCEAN_SECRET
DIGITAL_OCEAN_THRESHOLD=DIGITAL_OCEAN_THRESHOLD
DIGITAL_OCEAN_DISCORD_WEBHOOK=DIGITAL_OCEAN_DISCORD_WEBHOOK
WHASTAPP_WEBHOOK_TOKEN=WHASTAPP_WEBHOOK_TOKEN